/*-----------------Tags-----------------T*/
body{
  margin: 0;
  text-align: center;
}
h1{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 4rem;
}
p{
  font-family: 'Poppins', sans-serif;
}
hr{
  margin: 50px auto auto;
  border: dotted;
  width: 70px;
  border-top: 10px;
  border-width: 10px;
}
h2
{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  font-size: 3rem;
}
h3
{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  font-size: 2rem;
}
/*-----------------Class-Tags-----------------T*/
.hidden{
  border:none;
  margin: 0;
  border-width: 0;
}
.name
{
  font-size: 6rem;
  font-family: 'Architects Daughter', sans-serif;
}
.underline{
  text-decoration:underline;
  font-weight: bold;
}
.top-container{
  color: #113023;
  height: auto;
  width: auto;
  padding-top: 100px;
  background-color: #A3E6C9;
  margin:0;
  position: relative;
  font-size: 1.5rem;
}

.bottom-container{

  background-color: blue;
}
.forest{
  margin-top: 150px;
  bottom: 0;
  height: 400px;
  width: 400px;
}
.cloud{
  width: 200px;
  height: 125px;
  position: absolute;
}
.middle{
  top: 100px;
  right: 200px;
}
.top
{
  top: 100px;
  left: 200px;
}
.bottom
{
  right: 400px;
  bottom:400px;
}
.social
{
  display: inline-block;
}
.profile
{
  background-color:#f2e8cf;
  position: relative;
  padding-top: 100px;
  padding-bottom: 50px;

}
.profile-rule{
  position: absolute;
  bottom: -5px;
  right:47%;
  color:#583101;
}
.about, .skills{
  color: #a47148;
}
.profile-pic{
  margin: 50px auto auto auto;
  height:15%;
  width: 15%;
}
.profile-content{
  margin: 60px auto 60px auto;
  font-size: 1.1rem;
  display: inline-block;
  width: 45%;
  height: auto;
  color: #a47148;
}
.skills{
  background-color:#f2e8cf;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}
.skill-row{
  margin-top: 60px;
  margin-bottom: 60px;
  height: 200px;
  position: relative;

}
.skills-rule{
  position: absolute;
  margin-top: 0;
  top: -5px;
  right:47%;
  color:#583101;
}
.designer{
  height: 200px;
  width: 200px;
  position: absolute;
  right: 52%;
}
.sub-left{
  position: absolute;
  display: inline-block;
  text-align:left;
  left:52%;

}
.sub-right{
  position: absolute;
  display: inline-block;
  text-align:right;
  right:52%;

}
.skill-content-left{
  display: inline-block;
  position: absolute;
  text-align: left;
  width: 30%;
  font-size: 1rem;
  bottom:0;
  left:52%;
}
.skill-content-right{
  display: inline-block;
  position: absolute;
  text-align: right;
  width: 30%;
  font-size: 1rem;
  bottom:0;
  right:52%;
}
.code-image{
  position: absolute;
  left: 52%;
}
.cat-meme{
  position: absolute;
  right: 52%;
}
.meme{
  width: 20%;
}
.dev{
  width: 25%;
}
.skill-rule-bottom{
  position: absolute;
  bottom: -6px;
  right:47%;
  color:#583101;
  z-index: 1;
}
.bottom-container{
  color: #583101;
  height: 500px;
  background-color: #8b5e34;
  position: relative;

}

.footer{
  position: absolute;
  font-size: 4rem;
  left:430px;
  top:70px;

}
.footer-content-hook{
  position: absolute;
  left:430px;
  top:150px;
  font-size: 2.8rem;

}
.footer-content-request{
  position: absolute;
  display: inline-block;
  font-size: 1.5rem;
  width: 30%;
  left:430px;
  top:200px;
  text-align: left;

}
.labels{
  font-family: Poppins, sans-serif;
  font-size: 0.8rem;
  position: absolute;
}
.forms{
  font-family: Poppins, sans-serif;
  position: absolute;

}
.form-name-input{
  background-color: #583101;
  border: none;
  width: 290px;
  height: 42px;
  right: 150px;
  font-size: 1.3rem;
  padding-left: 15px;
  color: #C08956;
  top:90px;

}
.form-message-input{
  resize: none;
  background-color: #583101;
  border: none;
  width: 290px;
  height: 115px;
  right: 150px;
  font-size: 1.3rem;
  padding-left: 15px;
  color: #C08956;
  top:150px;
  padding-top: 5px;

}
.button{
  position: absolute;
  background-color: #583101;
  border: none;
  height: 35px;
  width: 114px;
  font-size: 1rem;
  color: #C08956;
  top:290px;
  right: 245px;

}
.coffee-cup{
  position: absolute;
  left: 100px;
  top:40px;
  z-index: 1;
  width:400px;
  height:400px;
  transform: rotate(21.22deg);
}
.social{
  position: absolute;
}
.footer-content-write{
  position: absolute;
  display: inline-block;
  font-size: 1.5rem;
  text-align: left;
  right:233px;
}
.footer-content-social{
  position: absolute;
  display: inline-block;
  font-size: 1rem;
  width: 30%;
  left:430px;
  top:300px;
  text-align: left;
}
.forest-base{
  border: solid;
  border-width: 5px 0 0 0;
  margin: none;
  padding: none;
  width: 100%;
  position: absolute;
  bottom: 0px;
  color: #583101;
}
.instagram{
  left:420px;
  top:345px;
}
.linkedin{
  left:480px;
  top:345px;
}
.whatsapp{
  left:540px;
  top:345px;
}

.foot{
  display: inline-block;

}
.made-by-me{
  position: absolute;
  left:46%;
  bottom: 3px;
}
.copyright{
  position: absolute;
  left:9%;
  bottom: 3px;
}
.rights{
  position: absolute;
  right:9%;
  bottom: 3px;
}
